---
import { Separator } from "@/components/ui/separator";
import type { Post } from "@/features/blog/blog-client";
import { highLight } from "@/lib/code-highlight";
import type { GetStaticPaths } from "astro";
import "highlight.js/styles/atom-one-dark.css";
import { createBlogClient } from "../../../features/blog/create-blog-client";
import Layout from "../../../layouts/Layout.astro";
import { CommentListContainer } from "@/features/comment/components/comment-list-container";
import { CommentForm } from "@/features/comment/components/comment-form";

export type Props = {
  post: Post;
};

export const getStaticPaths: GetStaticPaths = async () => {
  const blog = createBlogClient();
  const { posts } = await blog.getAllPost({
    fields: ["tags", "category", "id", "publishedAt", "title", "content"],
  });
  return posts.map((post) => ({
    params: {
      postId: post.id,
    },
    props: {
      post,
    },
  }));
};

const { post } = Astro.props;
const content = highLight(post.content);
---

<Layout title={`${post.title} - はるさめ.dev`}>
  <h1 class="mb-1 text-3xl font-bold">{post.title}</h1>
  <ul aria-label="タグ" class="flex flex-wrap gap-2 mt-2">
    {
      post.tags.map((tag) => (
        <li>
          <a
            href={`/blog/tags/${tag.id}/pages/1/`}
            class="inline-block min-w-[4rem] max-w-[180px] truncate rounded-full border border-secondary px-2 text-center transition-all hover:bg-primary hover:text-primary-foreground focus:bg-primary focus:text-primary-foreground z-10 relative"
            rel="prefetch"
          >
            {tag.name}
          </a>
        </li>
      ))
    }
  </ul>
  <div class="text-xs text-muted-foreground">
    投稿日：{post.publishedAt}
  </div>
  <div class="my-4">
    <Separator />
  </div>

  <div class="prose max-w-none" set:html={content} />
  <section slot="append" class="mt-8 rounded-sm border p-4">
    <h2 class="text-xl mb-4 font-bold">コメント</h2>
    <CommentListContainer articleSlug={post.id} client:only />
    <Separator className="my-8" />
    <CommentForm slug={post.id} client:only />
  </section>
</Layout>
